* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 300px;
}

.TodoListItem {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding: 8px;
    width: 150%;

}

.FormStyle {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}
